AWS_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
AWS_SECRET_KEY=
DB_HOST=mariadb
DB_NAME=goms
DB_PASSWORD=
DB_PORT=3306
DB_USERNAME=goms
DEPLOY_ENV=prod
DISCORD_WEBHOOK_URL=
FCM_CREDENTIALS_JSON=
GOMS_INTERNAL_API_SECRET=
HIBERNATE_BIND_LOG=OFF
HIBERNATE_SQL_LOG=OFF
JAVA_TOOL_OPTIONS=
JPA_DDL_AUTO=
JPA_FORMAT_SQL=
JPA_SHOW_SQL=
JWT_ACCESS_EXP_SECONDS=
JWT_REFRESH_EXP_SECONDS=
JWT_SECRET=
KAKAO_REST_API_KEY=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_USERNAME=
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379
SERVER_PORT=8080
SPRINGDOC_API_DOCS_ENABLED=
SPRINGDOC_API_DOCS_PATH=
SPRINGDOC_DISPLAY_REQUEST_DURATION=
SPRINGDOC_OPERATIONS_SORTER=
SPRINGDOC_SWAGGER_UI_ENABLED=
SPRINGDOC_SWAGGER_UI_PATH=
SPRINGDOC_TAGS_SORTER=
SPRING_PROFILES_ACTIVE=prod
SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=
TZ=Asia/Seoul
